@model E_Libary.Models.DeThi

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DeThi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenDeThi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDeThi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonHoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhThuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhThuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayThi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PheDuyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PheDuyet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiPheDuyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiPheDuyet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
